## Top 10 arrival airports in the world in 2013 (using the bookings file)

Arrival airport is the column arr_port. It is the IATA code for the airport

To get the total number of passengers for an airport, you can sum the column pax, grouping by arr_port.

Note that there is negative pax. That corresponds to cancelations. So to get the total number of passengers that have actually booked, you should sum including the negatives (that will remove the canceled bookings).

Print the top 10 arrival airports in the standard output, including the number of passengers.

Bonus point: Get the name of the city or airport corresponding to that airport (programatically, we suggest to have a look at GeoBases in Github)

Bonus point: Solve this problem using pandas (instead of any other approach)

Get familiar with data
Select the columns of interest
What to do with NaN?

Make action plan
Develop the code that works with a sample

Adjust the code to work with Big data
Test big data approach on a sample

Run program with big data

(Bonus Point)

## 0) Prepare booking Sample (we might need this for later)

In [1]:
pwd

'/home/dsc/Data/challenge'

In [2]:
ls -l

total 1018828
-rw-rw-r-- 1 dsc dsc 554970628 may 31  2019 bookings.csv.bz2
-rw-rw-r-- 1 dsc dsc    535893 nov 30 09:18 bookings.sample.csv.bz2
-rw-rw-r-- 1 dsc dsc     18340 nov 30 09:58 ch_01-Empty.ipynb
-rw-rw-r-- 1 dsc dsc     12848 nov 30 10:00 ch_02-Empty.ipynb
-rw-rw-r-- 1 dsc dsc     10832 may 31  2019 ch_03-Empty.ipynb
-rw-rw-r-- 1 dsc dsc      8019 may 31  2019 ch_04-Empty.ipynb
-rw-rw-r-- 1 dsc dsc       962 may 31  2019 ch_05b-empty.ipynb
-rw-rw-r-- 1 dsc dsc     24953 may 31  2019 ch_05-empty.ipynb
-rwxrwxrwx 1 dsc dsc   4232732 nov 30 09:54 sample.csv*
-rw-rw-r-- 1 dsc dsc 483188920 may 31  2019 searches.csv.bz2
-rw-rw-r-- 1 dsc dsc    244720 nov 30 09:18 searches.sample.csv.bz2

## 1) Get familiar with data

### What if we dont want to read the whole file?

Options:
1) prepare the sample
2) read_csv with nrows option

In [4]:
import pandas as pd

In [11]:
#DON'T DO THIS!!!
b = pd.read_csv('bookings.csv.bz2',sep='^', nrows=9999)

In [12]:
b.shape

(9999, 38)

In [8]:
#otra opcion
b = pd.read_csv('bookings.sample.csv.bz2',sep='^')

In [10]:
b.shape

(9999, 38)

## Commands for obtaining data info:

In [13]:
b.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,...,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,...,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,...,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,...,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [16]:
pd.set_option('display.max_columns', None)

In [17]:
b.head()

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
0,2013-03-05 00:00:00,1A,DE,a68dd7ae953c8acfb187a1af2dcbe123,1a11ae49fcbf545fd2afc1a24d88d2b7,ea65900e72d71f4626378e2ebd298267,2013-02-22 00:00:00,1708,0,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHR,LON,GB,ZRH,ZRH,CH,LHRZRH,LONZRH,CHGB,1,LHRZRH,VI,T,Y,2013-03-07 08:50:00,2013-03-07 11:33:37,-1,2013,3,NULL
1,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,SAL,SAL,SV,CLT,CLT,US,CLTSAL,CLTSAL,SVUS,1,SALATLCLT,NV,L,Y,2013-04-12 13:04:00,2013-04-12 22:05:40,1,2013,3,NULL
2,2013-03-26 00:00:00,1A,US,e612b9eeeee6f17f42d9b0d3b79e75ca,7437560d8f276d6d05eeb806d9e7edee,737295a86982c941f1c2da9a46a14043,2013-03-26 00:00:00,135270,0,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLT,CLT,US,SAL,SAL,SV,CLTSAL,CLTSAL,SVUS,1,CLTATLSAL,NV,U,Y,2013-07-15 07:00:00,2013-07-15 11:34:51,1,2013,3,NULL
3,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKL,AKL,NZ,SVO,MOW,RU,AKLSVO,AKLMOW,NZRU,1,AKLHKGSVO,XK,G,Y,2013-04-24 23:59:00,2013-04-25 16:06:31,1,2013,3,SYDA82546
4,2013-03-26 00:00:00,1A,AU,0f984b3bb6bd06661c95529bbd6193bc,36472c6dbaf7afec9136ac40364e2794,5ecf00fdcbcec761c43dc7285253d0c1,2013-03-26 00:00:00,30885,0,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,SVO,MOW,RU,AKL,AKL,NZ,AKLSVO,AKLMOW,NZRU,1,SVOHKGAKL,XK,G,Y,2013-05-14 20:15:00,2013-05-16 10:44:50,1,2013,3,SYDA82546

In [18]:
b.sample(5)

,act_date,source,pos_ctry,pos_iata,pos_oid,rloc,cre_date,duration,distance,dep_port,dep_city,dep_ctry,arr_port,arr_city,arr_ctry,lst_port,lst_city,lst_ctry,brd_port,brd_city,brd_ctry,off_port,off_city,off_ctry,mkt_port,mkt_city,mkt_ctry,intl,route,carrier,bkg_class,cab_class,brd_time,off_time,pax,year,month,oid
9382,2013-03-25 00:00:00,1G,ES,d60f0218ac7563872afed376e8c0230d,f492ad62ad6cbff78e31b6972e9f5b97,e793d0605ca5b0d104e6b41a035f6e42,2013-03-24 00:00:00,21552,0,KWI,KWI,KW,FRA,FRA,DE,KWI,KWI,KW,FRA,FRA,DE,KWI,KWI,KW,FRAKWI,FRAKWI,DEKW,1,FRABAHKWI,QP,Q,Y,2013-07-14 11:30:00,2013-07-14 21:57:39,-1,2013,3,NULL
7638,2013-03-01 00:00:00,1P,US,83ccf07a55606976f78e63fcc805f58c,1490c3c5f95f04fa076fe15c775a80a9,3fdc8fec0dfec2606073330de0656fa3,2013-02-25 00:00:00,7776,0,RNO,RNO,US,ILM,ILM,US,RNO,RNO,US,ILM,ILM,US,RNO,RNO,US,ILMRNO,ILMRNO,USUS,0,ILMCLTPHXRNO,FD,S,Y,2013-06-11 07:15:00,2013-06-11 15:36:11,-3,2013,3,NULL
6179,2013-03-31 00:00:00,1S,BR,1922921719e995ba8cbb711ffbbfd169,965b065e5be5abf17f3e8b49b516ca6f,e5785cca52ed3b02b4fa5971d220d58d,2013-03-28 00:00:00,59479,0,GRU,SAO,BR,FRA,FRA,DE,GRU,SAO,BR,FRA,FRA,DE,GRU,SAO,BR,FRAGRU,FRASAO,BRDE,1,FRAGRU,TT,H,Y,2013-06-07 22:05:00,2013-06-08 05:24:08,-1,2013,3,NULL
227,2013-03-14 00:00:00,1V,US,2c652e6a9336758534f2a23fa8001315,5dbcc2a56867a77dd2c6d5abeed73353,7224ca38535373bb3fe11eed0b988296,2013-03-14 00:00:00,4988,0,ICT,ICT,US,PHX,PHX,US,ICT,ICT,US,ICT,ICT,US,PHX,PHX,US,ICTPHX,ICTPHX,USUS,0,ICTMSPPHX,NV,U,Y,2013-05-30 11:45:00,2013-05-30 15:32:44,1,2013,3,NULL
2187,2013-03-18 00:00:00,1V,US,4dbe637c064406fed0660a2c3e05e899,c9c70f0059cd660b4f835324ffdab338,c2b9de2ab704577eb305423c4b515eea,2013-03-18 00:00:00,2170,0,IAH,HOU,US,BOS,BOS,US,IAH,HOU,US,BOS,BOS,US,IAH,HOU,US,BOSIAH,BOSHOU,USUS,0,BOSIAH,FK,M,Y,2013-03-20 16:36:00,2013-03-20 19:25:07,1,2013,3,NULL

In [19]:
b.dtypes

act_date               object
source                 object
pos_ctry               object
pos_iata               object
pos_oid                object
rloc                   object
cre_date               object
duration                int64
distance                int64
dep_port               object
dep_city               object
dep_ctry               object
arr_port               object
arr_city               object
arr_ctry               object
lst_port               object
lst_city               object
lst_ctry               object
brd_port               object
brd_city               object
brd_ctry               object
off_port               object
off_city               object
off_ctry               object
mkt_port               object
mkt_city               object
mkt_ctry               object
intl                    int64
route                  object
carrier                object
bkg_class              object
cab_class              object
brd_time               object
off_time               object
pax                     int64
year                    int64
month                   int64
oid                    object
dtype: object

In [20]:
b.describe()

            duration      distance         intl          pax    year   month
count    9999.000000   9999.000000  9999.000000  9999.000000  9999.0  9999.0
mean    20209.746075    455.608861     0.596260     0.516152  2013.0     3.0
std     42243.233482   1738.891068     0.490671     1.783970     0.0     0.0
min        59.000000      0.000000     0.000000   -25.000000  2013.0     3.0
25%      3339.000000      0.000000     0.000000    -1.000000  2013.0     3.0
50%      7721.000000      0.000000     1.000000     1.000000  2013.0     3.0
75%     19077.000000      0.000000     1.000000     1.000000  2013.0     3.0
max    488131.000000  18481.000000     1.000000    25.000000  2013.0     3.0

In [21]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 38 columns):
act_date               9999 non-null object
source                 9999 non-null object
pos_ctry               9999 non-null object
pos_iata               9999 non-null object
pos_oid                9999 non-null object
rloc                   9999 non-null object
cre_date               9999 non-null object
duration               9999 non-null int64
distance               9999 non-null int64
dep_port               9999 non-null object
dep_city               9999 non-null object
dep_ctry               9999 non-null object
arr_port               9999 non-null object
arr_city               9999 non-null object
arr_ctry               9999 non-null object
lst_port               9999 non-null object
lst_city               9999 non-null object
lst_ctry               9999 non-null object
brd_port               9999 non-null object
brd_city               9999 non-null object
brd_ctry               9999 non-null object
off_port               9999 non-null object
off_city               9999 non-null object
off_ctry               9999 non-null object
mkt_port               9999 non-null object
mkt_city               9999 non-null object
mkt_ctry               9999 non-null object
intl                   9999 non-null int64
route                  9999 non-null object
carrier                9999 non-null object
bkg_class              9999 non-null object
cab_class              9999 non-null object
brd_time               9999 non-null object
off_time               9999 non-null object
pax                    9999 non-null int64
year                   9999 non-null int64
month                  9999 non-null int64
oid                    9999 non-null object
dtypes: int64(6), object(32)
memory usage: 2.9+ MB

In [24]:
! bzcat ./bookings.sample.csv.bz2 | head -2

act_date           ^source^pos_ctry^pos_iata^pos_oid  ^rloc          ^cre_date           ^duration^distance^dep_port^dep_city^dep_ctry^arr_port^arr_city^arr_ctry^lst_port^lst_city^lst_ctry^brd_port^brd_city^brd_ctry^off_port^off_city^off_ctry^mkt_port^mkt_city^mkt_ctry^intl^route          ^carrier^bkg_class^cab_class^brd_time           ^off_time           ^pax^year^month^oid
2013-03-05 00:00:00^1A    ^DE      ^a68dd7ae953c8acfb187a1af2dcbe123^1a11ae49fcbf545fd2afc1a24d88d2b7^ea65900e72d71f4626378e2ebd298267^2013-02-22 00:00:00^1708^0^ZRH     ^ZRH     ^CH      ^LHR     ^LON     ^GB      ^ZRH     ^ZRH     ^CH      ^LHR     ^LON     ^GB      ^ZRH     ^ZRH     ^CH      ^LHRZRH  ^LONZRH  ^CHGB    ^1^LHRZRH         ^VI^T        ^Y        ^2013-03-07 08:50:00^2013-03-07 11:33:37^-1^2013^3^NULL

bzcat: I/O or other error, bailing out.  Possible reason follows.
bzcat: Broken pipe
	Input file = ./bookings.sample.csv.bz2, output file = (stdout)

In [25]:
b.columns

Index(['act_date           ', 'source', 'pos_ctry', 'pos_iata', 'pos_oid  ',
       'rloc          ', 'cre_date           ', 'duration', 'distance',
       'dep_port', 'dep_city', 'dep_ctry', 'arr_port', 'arr_city', 'arr_ctry',
       'lst_port', 'lst_city', 'lst_ctry', 'brd_port', 'brd_city', 'brd_ctry',
       'off_port', 'off_city', 'off_ctry', 'mkt_port', 'mkt_city', 'mkt_ctry',
       'intl', 'route          ', 'carrier', 'bkg_class', 'cab_class',
       'brd_time           ', 'off_time           ', 'pax', 'year', 'month',
       'oid      '],
      dtype='object')

In [26]:
list(b.columns)

['act_date           ',
 'source',
 'pos_ctry',
 'pos_iata',
 'pos_oid  ',
 'rloc          ',
 'cre_date           ',
 'duration',
 'distance',
 'dep_port',
 'dep_city',
 'dep_ctry',
 'arr_port',
 'arr_city',
 'arr_ctry',
 'lst_port',
 'lst_city',
 'lst_ctry',
 'brd_port',
 'brd_city',
 'brd_ctry',
 'off_port',
 'off_city',
 'off_ctry',
 'mkt_port',
 'mkt_city',
 'mkt_ctry',
 'intl',
 'route          ',
 'carrier',
 'bkg_class',
 'cab_class',
 'brd_time           ',
 'off_time           ',
 'pax',
 'year',
 'month',
 'oid      ']

## 2) Select the columns of interest

## 3) What to do with NaN?

in the sample everything might be ok, but we should prepare fot NaN case

In [30]:
import pandas as pd
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'])
b=b.dropna()

In [31]:
b.sample(5)

      arr_port  pax  year
2093  CJS        -1  2013
7479  LGA        -2  2013
1465  BJA         4  2013
4308  SAN         1  2013
1171  RTB         4  2013

## 4) make action plan

0) filter 2013
1) group by airport
2) sum pax
3) sort by pax ascending false
4) top10

In [34]:
import pandas as pd
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'])
b=b.dropna()
b=b[   b['year']==2013 ][['arr_port', 'pax']]

In [35]:
b.head()

   arr_port  pax
0  LHR        -1
1  CLT         1
2  CLT         1
3  SVO         1
4  SVO         1

In [42]:
import pandas as pd
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'])
b=b.dropna()
b=b[   b['year']==2013 ][['arr_port', 'pax']].groupby('arr_port').sum().sort_values('pax',ascending=False)
b.head(10)

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91
SFO        91
MCO        90
DCA        82
DEN        79
LHR        76

## 5) Adjust the code to work with Big data

What do we have so far?

In [ ]:
import pandas as pd
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'])
b=b.dropna()
b=b[   b['year']==2013 ][['arr_port', 'pax']].groupby('arr_port').sum().sort_values('pax',ascending=False)
b.head(10)

#### but... we have to read the whole file... and with nrows we are reading ALWAYS the first N rows...

Option for reading the file:  
    1) iterator=true and get_chunk  
    2) define chunk_size

#### 1) iterator=true and get_chunk

In [44]:
b_iter = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'], iterator=True)
b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'])

In [45]:
type(b)

pandas.core.frame.DataFrame

In [46]:
type(b_iter)

pandas.io.parsers.TextFileReader

In [47]:
b_chunk=b_iter.get_chunk(3000)

In [48]:
len(b_chunk)

3000

In [49]:
type(b_chunk)

pandas.core.frame.DataFrame

In [50]:
b_chunk=b_iter.get_chunk(5000)

In [51]:
len(b_chunk)

5000

In [52]:
b_chunk=b_iter.get_chunk(50000)

In [53]:
len(b_chunk)

1999

In [54]:
b_chunk=b_iter.get_chunk(1)

StopIteration:

#### 2) define chunk size

In [57]:
b_iter = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'], chunksize=3000)

In [58]:
for i, b_chunk in enumerate(b_iter):
    print(b_chunk.head(5))
    print('-----------------')
    if i==3: 
        break

   arr_port  pax  year
0  LHR        -1  2013
1  CLT         1  2013
2  CLT         1  2013
3  SVO         1  2013
4  SVO         1  2013
-----------------
      arr_port  pax  year
3000  DEN         1  2013
3001  LAX         1  2013
3002  LAX         1  2013
3003  BUF         2  2013
3004  PVG         1  2013
-----------------
      arr_port  pax  year
6000  BOS         1  2013
6001  BOS        -1  2013
6002  BOS        -1  2013
6003  BOS         1  2013
6004  PHX         1  2013
-----------------
      arr_port  pax  year
9000  LGA        -1  2013
9001  LGA         1  2013
9002  GIG         1  2013
9003  GIG         1  2013
9004  GIG        -1  2013
-----------------

In [73]:
import pandas as pd
b_iter = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'], chunksize=3000)
#b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'])
all_chunks=pd.DataFrame()
for i, b_chunk in enumerate(b_iter):
    print(i)
    b=b_chunk.dropna()
    b=b[   b['year']==2013 ][['arr_port', 'pax']].groupby('arr_port').sum()
    all_chunks=all_chunks.append(b)

all_chunks=all_chunks.reset_index().groupby('arr_port').sum().sort_values('pax',ascending=False)
all_chunks.head(10)

0
1
2
3

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91
SFO        91
MCO        90
DCA        82
DEN        79
LHR        76

In [68]:
all_chunks.shape

(1344, 2)

In [70]:
all_chunks.groupby('arr_port').sum().sort_values('pax',ascending=False)

          pax
arr_port
HKG       112
LGA        95
ORD        94
JFK        92
LAX        91
SFO        91
MCO        90
DCA        82
DEN        79
LHR        76
LAS        70
ATL        69
PHX        69
DFW        67
FLL        64
SEA        61
BWI        55
PVG        49
IAD        49
FCO        47
BCN        46
MEX        46
EWR        46
BOS        46
IST        44
PHL        41
MIA        38
AMS        36
ATH        36
PUJ        35
...       ...
ITM        -2
LAO        -2
LED        -2
OVB        -2
UBP        -2
CUR        -2
EZS        -2
EYW        -2
YAY        -2
TOS        -2
BGA        -3
RIC        -3
MLX        -3
NGB        -4
GAU        -4
ZAG        -4
OGG        -4
MDZ        -4
RFP        -4
MAA        -5
KSN        -6
AYT        -6
MAO        -6
STS        -6
ABZ        -6
PSA        -8
DPS        -9
ASU       -10
IKA       -10
GUM       -14

[663 rows x 1 columns]

In [65]:
all_chunks.reset_index().head()

   arr_port  pax
0  ABQ         2
1  ACC         0
2  ADD         4
3  AEP         3
4  AER         1

## Pre-Bonus Solution

In [100]:
import pandas as pd
b_iter = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'], chunksize=3000)
#b = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'])
all_chunks=pd.DataFrame()
for i, b_chunk in enumerate(b_iter):
    print(i)
    b=b_chunk.dropna()
    b=b[   b['year']==2013 ][['arr_port', 'pax']].groupby('arr_port').sum()
    all_chunks=all_chunks.append(b)

all_chunks=all_chunks.reset_index().groupby('arr_port').sum().sort_values('pax',ascending=False).reset_index()
#all_chunks.head(10)

0
1
2
3

### Now we've got top airports

we have to install geobases o Neobase

In [ ]:
%pip install neobase

In [74]:
import neobase as nb

In [76]:
dir(nb)

['LatLng',
 'NeoBase',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'neobase']

In [77]:
help(nb)

Help on package neobase:

NAME
    neobase - # -*- coding: utf-8 -*-

PACKAGE CONTENTS
    __main__
    neobase

FILE
    /home/dsc/anaconda3/lib/python3.7/site-packages/neobase/__init__.py

In [80]:
from neobase import NeoBase

In [81]:
help(NeoBase)

Help on class NeoBase in module neobase.neobase:

class NeoBase(builtins.object)
 |  NeoBase(rows=None, date=None)
 |
 |  Main structure, a wrapper around a dict, with dict-like behavior.
 |
 |  Methods defined here:
 |
 |  __contains__(self, key)
 |      Test if a key is in the base.
 |
 |      :param key: the key of to be tested
 |      :returns:   a boolean
 |
 |      >>> b = NeoBase()
 |      >>> 'AN' in b
 |      False
 |      >>> 'AGN' in b
 |      True
 |
 |  __init__(self, rows=None, date=None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self)
 |      Returns iterator of all keys in the base.
 |
 |      :returns: the iterator of all keys
 |
 |      >>> b = NeoBase()
 |      >>> sorted(b)
 |      ['AAA', 'AAA@1', 'AAB', ...
 |
 |  __len__(self)
 |      Testing structure size.
 |
 |      :returns: a integer
 |
 |      >>> b = NeoBase()
 |      >>> 18000 < len(b) < 20000
 |      True
 |
 |  __nonzero__(self)
 |      Testing structure emptiness.
 |
 |      :returns: a boolean
 |
 |      >>> b = NeoBase()
 |      >>> if b:
 |      ...     print('not empty')
 |      not empty
 |
 |  distance(self, key_0, key_1)
 |      Compute distance between two elements.
 |
 |      This is just a wrapper between the original haversine
 |      function, but it is probably the most used feature :)
 |
 |      :param key_0: the first key
 |      :param key_1: the second key
 |      :returns:    the distance (km)
 |
 |      >>> b = NeoBase()
 |      >>> b.distance('ORY', 'CDG')
 |      34.87...
 |
 |  find_closest_from_location(self, lat_lng, N=1, from_keys=None)
 |      Concept close to find_near_location, but here we do not
 |      look for the keys radius-close to a location,
 |      we look for the closest key from this location, given by
 |      latitude/longitude.
 |
 |      Note that a similar implementation is done in
 |      the LocalHelper, to find efficiently N closest location
 |      in a graph, from a location (using heaps).
 |
 |      :param lat_lng:   the lat_lng of the location
 |      :param N:         the N closest results wanted
 |      :param from_keys: if None, it takes all keys in consideration, else takes from_keys             iterable of keys to perform find_closest_from_location. This is useful to combine             searches
 |      :returns:   one key (like 'SFO'), or a list if approximate is not None
 |
 |      >>> b = NeoBase()
 |      >>> list(b.find_closest_from_location((43.70, 7.26))) # Nice
 |      [(0.60..., 'NCE@1')]
 |      >>> list(b.find_closest_from_location((43.70, 7.26), N=3)) # Nice
 |      [(0.60..., 'NCE@1'), (5.82..., 'NCE'), (5.89..., 'XBM')]
 |
 |  find_near(self, key, radius=50, from_keys=None)
 |      Same as find_near_location, except the location is given
 |      not by a lat/lng, but with its key, like ORY or SFO.
 |      We just look up in the base to retrieve lat/lng, and
 |      call find_near_location.
 |
 |      :param key:     the key of the location
 |      :param radius:  the radius of the search (kilometers)
 |      :param from_keys: if None, it takes all keys in consideration, else takes from_keys             iterable of keys to perform search.
 |      :returns:       a list of keys (like ['ORY', 'CDG'])
 |
 |      >>> b = NeoBase()
 |      >>> sorted(b.find_near('ORY', 10)) # Orly, por <= 10km
 |      [(0.0, 'ORY'), (6.94..., 'XJY'), (9.96..., 'QFC')]
 |
 |  find_near_location(self, lat_lng, radius=50, from_keys=None)
 |      Returns a list of nearby keys from a location (given
 |      latidude and longitude), and a radius for the search.
 |      Note that the haversine function, which compute distance
 |      at the surface of a sphere, here returns kilometers,
 |      so the radius should be in kms.
 |
 |      :param lat_lng: the lat_lng of the location
 |      :param radius:  the radius of the search (kilometers)
 |      :param from_keys: if None, it takes all keys in consideration, else takes from_keys             iterable of keys to perform search.
 |      :returns:       an iterable of keys (like ['ORY', 'CDG'])
 |
 |      >>> b = NeoBase()
 |      >>> # Paris, airports <= 50km
 |      >>> [b.get(k, 'iata_code') for d, k in sorted(b.find_near_location((48.84, 2.367), 5))]
 |      ['PAR', 'XGB', 'XHP', 'XPG', 'XEX']
 |
 |  find_with(self, conditions, from_keys=None, reverse=False)
 |      Get iterator of all keys with particular field.
 |
 |      For example, if you want to know all airports in Paris.
 |
 |      :param conditions: a list of (field, value) conditions
 |      :param reverse:    we look keys where the field is *not* the particular value
 |      :returns:          an iterator of matching keys
 |
 |      Testing several conditions.
 |
 |      >>> b = NeoBase()
 |      >>> c0 = [('city_code_list', ['PAR'])]
 |      >>> c1 = [('location_type', ['H'])]
 |      >>> len(list(b.find_with(c0)))
 |      16
 |      >>> len(list(b.find_with(c0 + c1)))
 |      2
 |
 |  get(self, key, field=None, default=<object object at 0x7f9dfbdc0820>)
 |      Get data from structure.
 |
 |      >>> b = NeoBase()
 |      >>> b.get('OR', 'city_code_list', default=None)
 |      >>> b.get('ORY', 'city_code_list')
 |      ['PAR']
 |
 |  get_location(self, key, default=<object object at 0x7f9dfbdc0820>)
 |      Get None or the geocode.
 |
 |      >>> b = NeoBase()
 |      >>> b.get_location('ORY')
 |      LatLng(lat=48.72..., lng=2.35...)
 |
 |  keys(self)
 |      Returns iterator of all keys in the base.
 |
 |      :returns: the iterator of all keys
 |
 |      >>> b = NeoBase()
 |      >>> sorted(b.keys())
 |      ['AAA', 'AAA@1', 'AAB', ...
 |
 |  set(self, key, **data)
 |      Set information.
 |
 |      >>> b = NeoBase()
 |      >>> b.get('ORY', 'name')
 |      'Paris Orly Airport'
 |      >>> b.set('ORY', name='test')
 |      >>> b.get('ORY', 'name')
 |      'test'
 |      >>> b.set('Wow!', name='test')
 |      >>> b.get('Wow!', 'name')
 |      'test'
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  load(f, date) from builtins.type
 |      Building a dictionary of geographical data from optd_por.
 |
 |      >>> path = op.join(op.dirname(__file__), 'optd_por_public.csv')
 |      >>> with open_(path) as f:
 |      ...     b = NeoBase.load(f, '2030-01-01')
 |      >>> b['ORY']['city_code_list']
 |      ['PAR']
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  distance_between_locations(l0, l1)
 |      Great circle distance
 |
 |      :param l0: the LatLng tuple of the first location
 |      :param l1: the LatLng tuple of the second location
 |      :returns:  the distance in kilometers
 |
 |      >>> NeoBase.distance_between_locations((48.84, 2.367), (43.70, 7.26)) # Paris -> Nice
 |      683.85...
 |
 |      Case of unknown location.
 |
 |      >>> NeoBase.distance_between_locations(None, (43.70, 7.26)) # returns None
 |
 |  skip(row, date)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  DUPLICATES = True
 |
 |  FIELDS = (('iata_code', 0, None), ('name', 6, None), ('lat', 8, None),...
 |
 |  KEY = 0

In [82]:
geoDict=NeoBase()

In [83]:
dir(geoDict)

['DUPLICATES',
 'FIELDS',
 'KEY',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_build_distances',
 '_data',
 '_empty_value',
 'distance',
 'distance_between_locations',
 'find_closest_from_location',
 'find_near',
 'find_near_location',
 'find_with',
 'get',
 'get_location',
 'keys',
 'load',
 'set',
 'skip']

In [85]:
sorted(geoDict)

['AAA',
 'AAA@1',
 'AAB',
 'AAB@1',
 'AAC',
 'AAC@1',
 'AAD',
 'AAD@1',
 'AAE',
 'AAE@1',
 'AAF',
 'AAF@1',
 'AAG',
 'AAG@1',
 'AAH',
 'AAH@1',
 'AAI',
 'AAI@1',
 'AAJ',
 'AAJ@1',
 'AAJ@2',
 'AAK',
 'AAK@1',
 'AAL',
 'AAL@1',
 'AAM',
 'AAM@1',
 'AAN',
 'AAN@1',
 'AAO',
 'AAO@1',
 'AAP',
 'AAQ',
 'AAQ@1',
 'AAR',
 'AAR@1',
 'AAS',
 'AAT',
 'AAT@1',
 'AAU',
 'AAU@1',
 'AAV',
 'AAV@1',
 'AAW',
 'AAX',
 'AAX@1',
 'AAY',
 'AAY@1',
 'AAZ',
 'AAZ@1',
 'ABA',
 'ABA@1',
 'ABB',
 'ABB@1',
 'ABC',
 'ABC@1',
 'ABD',
 'ABD@1',
 'ABE',
 'ABE@1',
 'ABF',
 'ABF@1',
 'ABG',
 'ABG@1',
 'ABH',
 'ABH@1',
 'ABI',
 'ABI@1',
 'ABJ',
 'ABJ@1',
 'ABK',
 'ABK@1',
 'ABL',
 'ABL@1',
 'ABM',
 'ABM@1',
 'ABN',
 'ABN@1',
 'ABO',
 'ABO@1',
 'ABP',
 'ABQ',
 'ABQ@1',
 'ABR',
 'ABR@1',
 'ABS',
 'ABS@1',
 'ABT',
 'ABT@1',
 'ABU',
 'ABU@1',
 'ABV',
 'ABV@1',
 'ABW',
 'ABX',
 'ABX@1',
 'ABY',
 'ABY@1',
 'ABZ',
 'ABZ@1',
 'ACA',
 'ACA@1',
 'ACB',
 'ACB@1',
 'ACC',
 'ACC@1',
 'ACD',
 'ACE',
 'ACE@1',
 'ACE@2',
 'ACH',
 'ACH@1',
 'ACI',
 'ACI@1',
 'ACJ',
 'ACJ@1',
 'ACK',
 'ACK@1',
 'ACL',
 'ACL@1',
 'ACM',
 'ACM@1',
 'ACN',
 'ACN@1',
 'ACP',
 'ACP@1',
 'ACR',
 'ACR@1',
 'ACS',
 'ACS@1',
 'ACT',
 'ACT@1',
 'ACU',
 'ACU@1',
 'ACV',
 'ACV@1',
 'ACX',
 'ACX@1',
 'ACY',
 'ACY@1',
 'ACZ',
 'ACZ@1',
 'ADA',
 'ADA@1',
 'ADB',
 'ADC',
 'ADC@1',
 'ADD',
 'ADD@1',
 'ADE',
 'ADE@1',
 'ADF',
 'ADF@1',
 'ADG',
 'ADG@1',
 'ADH',
 'ADH@1',
 'ADI',
 'ADI@1',
 'ADJ',
 'ADJ@1',
 'ADK',
 'ADK@1',
 'ADL',
 'ADL@1',
 'ADM',
 'ADM@1',
 'ADN',
 'ADN@1',
 'ADO',
 'ADO@1',
 'ADP',
 'ADP@1',
 'ADQ',
 'ADQ@1',
 'ADR',
 'ADR@1',
 'ADS',
 'ADT',
 'ADT@1',
 'ADU',
 'ADU@1',
 'ADV',
 'ADV@1',
 'ADW',
 'ADW@1',
 'ADX',
 'ADX@1',
 'ADY',
 'ADY@1',
 'ADZ',
 'ADZ@1',
 'AEA',
 'AEA@1',
 'AEB',
 'AEB@1',
 'AED',
 'AEE',
 'AEG',
 'AEG@1',
 'AEH',
 'AEI',
 'AEI@1',
 'AEK',
 'AEK@1',
 'AEL',
 'AEL@1',
 'AEM',
 'AEM@1',
 'AEO',
 'AEP',
 'AEQ',
 'AER',
 'AER@1',
 'AES',
 'AES@1',
 'AET',
 'AET@1',
 'AEU',
 'AEU@1',
 'AEX',
 'AEX@1',
 'AEY',
 'AEY@1',
 'AFA',
 'AFA@1',
 'AFD',
 'AFD@1',
 'AFF',
 'AFI',
 'AFI@1',
 'AFK',
 'AFL',
 'AFL@1',
 'AFN',
 'AFN@1',
 'AFO',
 'AFO@1',
 'AFR',
 'AFR@1',
 'AFS',
 'AFS@1',
 'AFT',
 'AFT@1',
 'AFW',
 'AFY',
 'AFY@1',
 'AFZ',
 'AFZ@1',
 'AGA',
 'AGA@1',
 'AGB',
 'AGC',
 'AGD',
 'AGE',
 'AGE@1',
 'AGF',
 'AGF@1',
 'AGG',
 'AGH',
 'AGH@1',
 'AGH@2',
 'AGI',
 'AGI@1',
 'AGJ',
 'AGJ@1',
 'AGK',
 'AGK@1',
 'AGL',
 'AGL@1',
 'AGM',
 'AGM@1',
 'AGN',
 'AGN@1',
 'AGO',
 'AGO@1',
 'AGP',
 'AGP@1',
 'AGQ',
 'AGR',
 'AGR@1',
 'AGS',
 'AGS@1',
 'AGT',
 'AGT@1',
 'AGU',
 'AGU@1',
 'AGV',
 'AGV@1',
 'AGW',
 'AGW@1',
 'AGX',
 'AGX@1',
 'AGY',
 'AGY@1',
 'AGZ',
 'AGZ@1',
 'AHB',
 'AHB@1',
 'AHC',
 'AHC@1',
 'AHD',
 'AHE',
 'AHE@1',
 'AHF',
 'AHF@1',
 'AHH',
 'AHH@1',
 'AHI',
 'AHI@1',
 'AHJ',
 'AHJ@1',
 'AHL',
 'AHL@1',
 'AHM',
 'AHM@1',
 'AHN',
 'AHN@1',
 'AHO',
 'AHO@1',
 'AHS',
 'AHU',
 'AHU@1',
 'AHW',
 'AHY',
 'AHY@1',
 'AHZ',
 'AHZ@1',
 'AIA',
 'AIA@1',
 'AIB',
 'AIC',
 'AIC@1',
 'AID',
 'AID@1',
 'AIE',
 'AIE@1',
 'AIF',
 'AIF@1',
 'AIG',
 'AIG@1',
 'AIH',
 'AIH@1',
 'AII',
 'AII@1',
 'AIK',
 'AIK@1',
 'AIL',
 'AIL@1',
 'AIM',
 'AIM@1',
 'AIN',
 'AIN@1',
 'AIO',
 'AIO@1',
 'AIP',
 'AIP@1',
 'AIR',
 'AIS',
 'AIS@1',
 'AIT',
 'AIT@1',
 'AIU',
 'AIU@1',
 'AIV',
 'AIV@1',
 'AIW',
 'AIW@1',
 'AIX',
 'AIX@1',
 'AIZ',
 'AIZ@1',
 'AJA',
 'AJA@1',
 'AJF',
 'AJF@1',
 'AJI',
 'AJI@1',
 'AJJ',
 'AJJ@1',
 'AJK',
 'AJK@1',
 'AJL',
 'AJL@1',
 'AJL@2',
 'AJN',
 'AJN@1',
 'AJN@2',
 'AJR',
 'AJR@1',
 'AJS',
 'AJS@1',
 'AJU',
 'AJU@1',
 'AJY',
 'AJY@1',
 'AKA',
 'AKA@1',
 'AKB',
 'AKB@1',
 'AKC',
 'AKD',
 'AKE',
 'AKE@1',
 'AKF',
 'AKF@1',
 'AKF@2',
 'AKG',
 'AKG@1',
 'AKH',
 'AKH@1',
 'AKI',
 'AKI@1',
 'AKJ',
 'AKJ@1',
 'AKK',
 'AKK@1',
 'AKL',
 'AKL@1',
 'AKM',
 'AKN',
 'AKN@1',
 'AKO',
 'AKO@1',
 'AKP',
 'AKP@1',
 'AKQ',
 'AKR',
 'AKR@1',
 'AKS',
 'AKS@1',
 'AKT',
 'AKU',
 'AKU@1',
 'AKV',
 'AKV@1',
 'AKW',
 'AKW@1',
 'AKX',
 'AKX@1',
 'AKY',
 'AKY@1',
 'ALA',
 'ALA@1',
 'ALB',
 'ALB@1',
 'ALC',
 'ALC@1',
 'ALD',
 'ALD@1',
 'ALE',
 'ALE@1',
 'ALF',
 'ALF@1',
 'ALG',
 'ALG@1',
 'ALH',
 'ALH@1',
 'ALI',
 'ALI@1',
 'ALJ',
 'ALJ@1',
 'ALK',
 'ALL',
 'ALL@1',
 'ALM',
 'ALM@1',
 'ALN',
 'ALN@1',
 'ALO',
 'ALO@1',
 'ALP',
 'ALP@1',
 'ALQ',
 'ALQ@1',
 'ALR',
 'ALR@1',
 'ALS',
 'ALS@1',
 'ALT',
 'ALT@1',
 'ALU',
 'ALU@1',
 'ALV',
 'ALV@1',
 'ALW',
 'ALW@1',
 'ALX',
 'ALX@1',
 'ALY',
 'ALY@1',
 'ALZ',
 'ALZ@1',
 'AMA',
 'AMA@1',
 'AMB',
 'AMB@1',
 'AMC',
 'AMC@1',
 'AMD',
 'AMD@1',
 'AME',
 'AME@1',
 'AMF',
 'AMF@1',
 'AMG',
 'AMG@1',
 'AMH',
 'AMH@1',
 'AMI',
 'AMJ',
 'AMJ@1',
 'AMK',
 'AML',
 'AML@1',
 'AMM',
 'AMM@1',
 'AMN',
 'AMN@1',
 'AMO',
 'AMO@1',
 'AMP',
 'AMP@1',
 'AMQ',
 'AMQ@1',
 'AMR',
 'AMS',
 'AMS@1',
 'AMT',
 'AMT@1',
 'AMU',
 'AMU@1',
 'AMV',
 'AMV@1',
 'AMW',
 'AMW@1',
 'AMX',
 'AMY',
 'AMY@1',
 'AMZ',
 'ANA',
 'ANA@1',
 'ANB',
 'ANB@1',
 'ANC',
 'ANC@1',
 'AND',
 'AND@1',
 'ANE',
 'ANE@1',
 'ANF',
 'ANF@1',
 'ANG',
 'ANG@1',
 'ANG@2',
 'ANG@3',
 'ANI',
 'ANI@1',
 'ANJ',
 'ANJ@1',
 'ANK',
 'ANK@1',
 'ANL',
 'ANL@1',
 'ANM',
 'ANM@1',
 'ANM@2',
 'ANN',
 'ANN@1',
 'ANO',
 'ANP',
 'ANP@1',
 'ANQ',
 'ANQ@1',
 'ANR',
 'ANR@1',
 'ANS',
 'ANS@1',
 'ANT',
 'ANT@1',
 'ANU',
 'ANU@1',
 'ANV',
 'ANV@1',
 'ANW',
 'ANW@1',
 'ANX',
 'ANX@1',
 'ANY',
 'ANY@1',
 'ANZ',
 'AOA',
 'AOB',
 'AOC',
 'AOC@1',
 'AOD',
 'AOE',
 'AOG',
 'AOG@1',
 'AOH',
 'AOH@1',
 'AOI',
 'AOI@1',
 'AOJ',
 'AOJ@1',
 'AOK',
 'AOK@1',
 'AOL',
 'AOL@1',
 'AOM',
 'AON',
 'AOO',
 'AOO@1',
 'AOP',
 'AOP@1',
 'AOQ',
 'AOQ@1',
 'AOR',
 'AOR@1',
 'AOS',
 'AOS@1',
 'AOT',
 'AOT@1',
 'AOU',
 'AOU@1',
 'APA',
 'APB',
 'APB@1',
 'APC',
 'APC@1',
 'APF',
 'APF@1',
 'APG',
 'APG@1',
 'APH',
 'API',
 'API@1',
 'APK',
 'APK@1',
 'APL',
 'APL@1',
 'APN',
 'APN@1',
 'APO',
 'APO@1',
 'APP',
 'APQ',
 'APQ@1',
 'APR',
 'APR@1',
 'APS',
 'APS@1',
 'APT',
 'APT@1',
 'APU',
 'APU@1',
 'APV',
 'APV@1',
 'APW',
 'APW@1',
 'APX',
 'APX@1',
 'APY',
 'APZ',
 'APZ@1',
 'AQA',
 'AQA@1',
 'AQB',
 'AQB@1',
 'AQG',
 'AQG@1',
 'AQI',
 'AQI@1',
 'AQJ',
 'AQJ@1',
 'AQL',
 'AQM',
 'AQP',
 'AQP@1',
 'AQS',
 'AQY',
 'AQY@1',
 'AQY@2',
 'ARA',
 'ARA@1',
 'ARB',
 'ARB@1',
 'ARC',
 'ARC@1',
 'ARD',
 'ARD@1',
 'ARE',
 'ARE@1',
 'ARF',
 'ARF@1',
 'ARG',
 'ARG@1',
 'ARH',
 'ARH@1',
 'ARI',
 'ARI@1',
 'ARJ',
 'ARJ@1',
 'ARK',
 'ARK@1',
 'ARL',
 'ARL@1',
 'ARM',
 'ARM@1',
 'ARN',
 'ARN@1',
 'ARO',
 'ARP',
 'ARQ',
 'ARQ@1',
 'ARR',
 'ARR@1',
 'ARS',
 'ART',
 'ART@1',
 'ARU',
 'ARU@1',
 'ARV',
 'ARV@1',
 'ARW',
 'ARW@1',
 'ARX',
 'ARX@1',
 'ARY',
 'ARY@1',
 'ARZ',
 'ASA',
 'ASA@1',
 'ASB',
 'ASB@1',
 'ASC',
 'ASC@1',
 'ASD',
 'ASD@1',
 'ASE',
 'ASE@1',
 'ASF',
 'ASF@1',
 'ASG',
 'ASG@1',
 'ASH',
 'ASH@1',
 'ASI',
 'ASI@1',
 'ASJ',
 'ASJ@1',
 'ASK',
 'ASK@1',
 'ASL',
 'ASL@1',
 'ASM',
 'ASM@1',
 'ASN',
 'ASN@1',
 'ASO',
 'ASO@1',
 'ASP',
 'ASP@1',
 'ASQ',
 'ASQ@1',
 'ASR',
 'ASR@1',
 'ASS',
 'ASS@1',
 'AST',
 'ASU',
 'ASU@1',
 'ASV',
 'ASV@1',
 'ASW',
 'ASW@1',
 'ASX',
 'ASX@1',
 'ASY',
 'ASY@1',
 'ASZ',
 'ATA',
 'ATA@1',
 'ATB',
 'ATB@1',
 'ATC',
 'ATC@1',
 'ATD',
 'ATD@1',
 'ATE',
 'ATE@1',
 'ATF',
 'ATF@1',
 'ATG',
 'ATG@1',
 'ATH',
 'ATH@1',
 'ATI',
 'ATI@1',
 'ATJ',
 'ATJ@1',
 'ATK',
 'ATK@1',
 'ATL',
 'ATL@1',
 'ATM',
 'ATM@1',
 'ATN',
 'ATN@1',
 'ATO',
 'ATO@1',
 'ATP',
 'ATP@1',
 'ATQ',
 'ATQ@1',
 'ATR',
 'ATR@1',
 'ATS',
 'ATS@1',
 'ATT',
 'ATT@1',
 'ATU',
 'ATU@1',
 'ATV',
 'ATV@1',
 'ATW',
 'ATW@1',
 'ATX',
 'ATX@1',
 'ATY',
 'ATY@1',
 'ATZ',
 'ATZ@1',
 'AUA',
 'AUA@1',
 'AUB',
 'AUC',
 'AUC@1',
 'AUD',
 'AUE',
 'AUE@1',
 'AUF',
 'AUF@1',
 'AUG',
 'AUG@1',
 'AUH',
 'AUH@1',
 'AUI',
 'AUI@1',
 'AUJ',
 'AUJ@1',
 'AUK',
 'AUK@1',
 'AUL',
 'AUL@1',
 'AUM',
 'AUM@1',
 'AUN',
 'AUN@1',
 'AUO',
 'AUO@1',
 'AUP',
 'AUP@1',
 'AUQ',
 'AUQ@1',
 'AUR',
 'AUR@1',
 'AUS',
 'AUS@1',
 'AUT',
 'AUT@1',
 'AUU',
 'AUU@1',
 'AUV',
 'AUV@1',
 'AUW',
 'AUW@1',
 'AUX',
 'AUX@1',
 'AUY',
 'AUY@1',
 'AUY@2',
 'AUZ',
 'AUZ@1',
 'AVA',
 'AVA@1',
 'AVB',
 'AVB@1',
 'AVF',
 'AVG',
 'AVG@1',
 'AVI',
 'AVI@1',
 'AVJ',
 'AVJ@1',
 'AVK',
 'AVK@1',
 'AVL',
 'AVL@1',
 'AVN',
 'AVN@1',
 'AVO',
 'AVO@1',
 'AVP',
 'AVP@1',
 'AVP@2',
 'AVR',
 'AVR@1',
 'AVS',
 'AVU',
 'AVV',
 'AVW',
 'AVX',
 'AVX@1',
 'AVX@2',
 'AWA',
 'AWA@1',
 'AWB',
 'AWB@1',
 'AWD',
 'AWD@1',
 'AWE',
 'AWK',
 'AWK@1',
 'AWM',
 'AWM@1',
 'AWN',
 'AWP',
 'AWR',
 'AWR@1',
 'AWZ',
 'AWZ@1',
 'AXA',
 'AXA@1',
 'AXB',
 'AXC',
 'AXC@1',
 'AXD',
 'AXD@1',
 'AXE',
 'AXF',
 'AXF@1',
 'AXG',
 'AXG@1',
 'AXI',
 'AXJ',
 'AXJ@1',
 'AXK',
 'AXK@1',
 'AXL',
 'AXM',
 'AXM@1',
 'AXN',
 'AXN@1',
 'AXP',
 'AXP@1',
 'AXR',
 'AXR@1',
 'AXS',
 'AXT',
 'AXT@1',
 'AXU',
 'AXU@1',
 'AXV',
 'AXV@1',
 'AXX',
 'AXX@1',
 'AYA',
 'AYC',
 'AYD',
 'AYE',
 'AYG',
 'AYI',
 'AYK',
 'AYK@1',
 'AYL',
 'AYM',
 'AYM@1',
 'AYN',
 'AYN@1',
 'AYO',
 'AYO@1',
 'AYP',
 'AYP@1',
 'AYQ',
 'AYQ@1',
 'AYR',
 'AYR@1',
 'AYS',
 'AYS@1',
 'AYT',
 'AYT@1',
 'AYU',
 'AYU@1',
 'AYW',
 'AYY',
 'AZA',
 'AZB',
 'AZD',
 'AZD@1',
 ...]

In [87]:
type(geoDict.get('LHR'))

dict

In [90]:
geoDict.get('LHR')

{'__dup__': set(),
 'iata_code': 'LHR',
 'name': 'London Heathrow Airport',
 'lat': '51.4775',
 'lng': '-0.461389',
 'page_rank': 0.44517643489228376,
 'country_code': 'GB',
 'country_name': 'United Kingdom',
 'continent_name': 'Europe',
 'timezone': 'Europe/London',
 'city_code_list': ['LON'],
 'city_name_list': ['London'],
 'location_type': ['A'],
 'currency': 'GBP'}

In [93]:
geoDict.get('LHR','name')

'London Heathrow Airport'

In [96]:
all_chumall_chunks.reset_index().head()

   arr_port  pax
0  HKG       112
1  LGA        95
2  ORD        94
3  JFK        92
4  LAX        91

### How do we remove white spaces?

In [101]:
all_chunks.arr_port[0]

'HKG     '

In [102]:
all_chunks.arr_port[0].strip()

'HKG'

In [105]:
all_chunks['arr_port']=all_chunks['arr_port'].str.strip()

In [108]:
all_chunks.arr_port[0]

'HKG'

In [107]:
geoDict.get('LHR','name')

'London Heathrow Airport'

### How do we put the name of each airport into the DF?

In [109]:
geoDict.get(all_chunks.arr_port[0],'name')

'Hong Kong International Airport'

In [110]:
all_chunks['AirportName']=all_chunks['arr_port'].map(lambda x: geoDict.get(x,'name'))

In [111]:
all_chunks.head()

  arr_port  pax                            AirportName
0      HKG  112        Hong Kong International Airport
1      LGA   95                     La Guardia Airport
2      ORD   94   Chicago O'Hare International Airport
3      JFK   92  John F. Kennedy International Airport
4      LAX   91      Los Angeles International Airport

## Final Solution

In [113]:
%%time
import pandas as pd
from neobase import NeoBase
geoDict=NeoBase()

#b_iter = pd.read_csv('bookings.sample.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'], chunksize=3000)
b_iter = pd.read_csv('bookings.csv.bz2',sep='^', usecols=['arr_port','pax', 'year'], chunksize=1000000)

all_chunks=pd.DataFrame()
for i, b_chunk in enumerate(b_iter):
    print(i)
    b=b_chunk.dropna()
    b=b[   b['year']==2013 ][['arr_port', 'pax']].groupby('arr_port').sum()
    all_chunks=all_chunks.append(b)

all_chunks=all_chunks.reset_index().groupby('arr_port').sum().sort_values('pax',ascending=False).reset_index()
all_chunks['arr_port']=all_chunks['arr_port'].str.strip()
all_chunks=all_chunks[all_chunks['arr_port'] != 'CPQ']
all_chunks['AirportName']=all_chunks['arr_port'].map(lambda x: geoDict.get(x,'name'))
all_chunks.head(10)

0
1
2
3
4
5
6
7
8
9
10

KeyError: 'Key not found: CPQ'

In [114]:
print(len(all_chunks))
all_chunks=all_chunks[all_chunks['arr_port'] != 'CPQ']
print(len(all_chunks))

2274
2273

In [115]:
all_chunks['AirportName']=all_chunks['arr_port'].map(lambda x: geoDict.get(x,'name'))
all_chunks.head(10)

  arr_port      pax                            AirportName
0      LHR  88809.0                London Heathrow Airport
1      MCO  70930.0          Orlando International Airport
2      LAX  70530.0      Los Angeles International Airport
3      LAS  69630.0         McCarran International Airport
4      JFK  66270.0  John F. Kennedy International Airport
5      CDG  64490.0        Paris Charles de Gaulle Airport
6      BKK  59460.0                   Suvarnabhumi Airport
7      MIA  58150.0            Miami International Airport
8      SFO  58000.0    San Francisco International Airport
9      DXB  55590.0            Dubai International Airport

In [116]:
all_chunks=all_chunks.astype({'pax':int})

In [117]:
all_chunks.head()

  arr_port    pax                            AirportName
0      LHR  88809                London Heathrow Airport
1      MCO  70930          Orlando International Airport
2      LAX  70530      Los Angeles International Airport
3      LAS  69630         McCarran International Airport
4      JFK  66270  John F. Kennedy International Airport

In [118]:
all_chunks.to_csv('top_airports.csv', sep='^', index=False)

In [119]:
!head ./top_airports.csv

arr_port^pax^AirportName
LHR^88809^London Heathrow Airport
MCO^70930^Orlando International Airport
LAX^70530^Los Angeles International Airport
LAS^69630^McCarran International Airport
JFK^66270^John F. Kennedy International Airport
CDG^64490^Paris Charles de Gaulle Airport
BKK^59460^Suvarnabhumi Airport
MIA^58150^Miami International Airport
SFO^58000^San Francisco International Airport